html{
  font-size:65%;
}
body{
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-family: 'Heebo', sans-serif;
}

a{
  text-decoration: none;
}

p{
  color: #2c3566;
  font-size:1.6rem;
  line-height: 2;
}

#nav-menu{
  margin-left: auto;
}
.shoe-btn{
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  font-size:1.5rem;
  background: #3443ca;
  padding:2rem 3.5rem;
  border-radius:.8rem;
  color: rgb(255, 255, 255);
  transition: .3s;  
}

.shoe-btn:hover{
  transform: translateY(-.25rem);
  color:white;
}

.icn{
  padding-right: 5px;
}

h1,h2,h3,h4{
  font-family: 'Bebas Neue', cursive;
}
section{
  padding: 160px 0;
}
.section-head{
  font-size:5rem;
  color:#2c3566;
}
.light-heiglight{
  font-size: 7rem;
  color: #FA804C;

}

.dark-heiglight{
  font-size: 7rem;
  color:#2c3566;
}

#header{
  background: #FFF9F4;
  height: 80rem;
  padding:2rem 0 5rem 0;
}
#header nav .logo{
  width:35rem;
}
#header nav .logo img{
  width:100%;
}
#header nav .menu{
  font-size:1.5rem;
  color:#2c3566;
  margin-right: 3rem;
}
.dark-heiglight{
  font-size: 7rem;
  color: #2c3566;
}

#main-content{
  margin-top: 100px;
  margin-bottom: 5rem;
}

#main-content p{
  text-align: justify;
  margin-bottom: 2rem;
}



#casual .shoes-price,
#formal .shoes-price{
  color: #FA804C;
  font-size:4.2rem;
  font-weight: 700;
}
.shoe-card{
  background: #fff;
  border-radius: 1.5rem;
  padding:2rem;
  margin-right: 3rem;
}
#casual.shoe-card:nth-child(3){
  margin-right: 0;
}
.card-title{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size:2.5rem;
  color:#2c3566;
}
.card-img-top{
  background: #eee;
  height: 300px;
  padding:2rem;
  border-radius: 1.5rem;
}
.card-footer{border:0;background: #fff;}


.sell-part{
  padding: 1.5rem;
  margin-bottom: .5rem;
  width:50rem;
  background: #fff;
  border-radius: 20px;  
}
.sell-part h4{
  font-size:2.5rem;
  color:#2c3566;
}
.sell-part img{
  width:7rem;
  float:left;
  margin-right: 2rem;
}
.sell-part p{
  text-justify:auto;
}

.sell{
  padding: 7rem 0;
}

 @media (max-width: 767.98px) { 
  .shoe-card {
    display: block;
    margin-bottom: 40px;
    margin-left: 20%;
    width: 50%;    
  }
  #banner-header{
    display: flex;
    flex-direction: column-reverse;
  }

  #main-image{
    height: 40%;
  }
  #main-content{
    text-align: center;
  }

  #main-content p{
    text-align: center;
  }

  #header{
    height: 120rem;
  }
  }



  @media (min-width: 575.98px) { 
    #seller{
      display: flex;
      flex-direction: row-reverse;
    }
    

  }


  @media (min-width: 991.98px) { 
    .card-footer{
      display: flex;
      justify-content: space-between;
    }

    
  }


